/* mobile */
@media only screen and (max-width: 768px) {
  .delivery {
    padding: 14px 0;
    background: #141414;
    height: 75px;
  }
  .delivery .body {
    position: relative;
    display: block;
  }
  .delivery .body span {
    display: block;
    padding-left: 10px;
    color: rgb(255, 255, 255);
  }
  .delivery .enter-code {
    display: block;
    padding-right: 240px;
    margin-left: 5px;
  }
  .delivery .body button {
    position: absolute;
    top: 11px;
    right: 60px;
    padding: 5px 12px;
  }
  .delivery .icon-close {
    position: absolute;
    right: 10px;
    top: 53px;
  }
  .header .header-main .list {
    display: none;
  }
  .contact {
    height: 300px;
    display: block;
  }
  .contact .heading {
    display: inline-block;
    font-size: 3rem;
    padding: 40px 0 0 100px;
    white-space: nowrap;
  }
  .contact .image {
    margin-top: 100px;
    width: 100vw;
    height: 180px;
  }
  .description {
    padding: 50px 0;
  }
  .address-location {
    display: block;
  }
  .address-location .address-2 {
    display: block;
    margin-top: 30px;
    margin-left: -290px;
  }
  .footer .logo-footer {
    display: none;
  }
  .footer .row-top {
    padding: none;
    border-bottom: none;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: -100px;
  }
  .footer-nav .production-hubs {
    display: flex;
  }
  .footer-nav .item-1 {
    width: 100vw;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .footer-nav .delivery-hours {
    display: flex;
  }
  .footer-nav .item-2 {
    width: 100vw;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
  .footer-nav .assitance {
    display: flex;
  }
  .footer-nav .item-3 {
    width: 100vw;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
  .footer-nav .resources {
    display: flex;
  }
}

/* Tablet */
@media only screen and (max-width: 740px) and (max-width: 1023px) {
}
