* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
/* ======================common============= */
a {
  text-decoration: none;
}
.main-content {
  max-width: calc(100% - 48px);
  width: 1085px;
  margin-left: auto;
  margin-right: auto;
}

/* delivery */
.delivery {
  padding: 6px 0;
  background: #141414;
  height: 35px;
}

.delivery .body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery .body span {
  color: #fff;
  font-size: 1.2rem;
}

.delivery .enter-code {
  font-size: 1rem;
  flex-grow: 1;
  margin: 0 5px 0 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #fff;
  color: #333;
  max-width: 500px;
  padding-right: 50px;
  padding: 4px 0;
}

.delivery .body button {
  border-radius: 5px;
  font-size: 1.3rem;
  text-align: center;
  padding: 4px 6px;
}

.delivery .icon-close {
  display: block;
  margin-left: auto;
  margin-top: -25px;
}

.event .desc {
  font-size: 1.3rem;
  display: block;
  color: #141414;
  background-color: #f1c5b7;
  text-align: center;
  height: 50px;
  font-weight: 400;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* header fixed */
.header {
  height: 164px;
  background: #f5f0f0;
}

.header .row-top {
  padding-top: 55px;
  display: flex;
  align-items: center;
}
.header .row-top img {
}

.header .row-top-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header .row-top-right span {
  font-size: 1.2rem;
  font-weight: 400;
  padding-right: 10px;
}
.header .row-top-right .icon:first-child {
  padding-right: 6px;
}
.header .row-top-right .icon:last-child {
  opacity: 0.8;
}

.header .header-main .list {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-main a {
  display: block;
  font-size: 1.3rem;
  letter-spacing: 0.8px;
  color: #000;
  font-weight: 500;
}
/* .header.fixed {
  position: sticky;
  top: 0px;
  z-index: 1;
} */

/* CONTACT US */
.contact {
  padding-bottom: 50px;
  display: flex;
  height: 555px;
  background-color: #efe6e0;
}
.contact .heading {
  padding: 186px 0 0 200px;
  width: 60%;
  font-size: 5rem;
  font-weight: 500;
}
.contact .image {
  height: 555px;
  width: 40%;
  object-fit: cover;
}
/* description  */
.description {
  padding: 30px 0;
  margin-bottom: 60px;
}
.description .heading-2 {
  margin: 17px 0;
  display: block;
  font-weight: 400;
  line-height: 1.4em;
  font-size: 1.6rem;
}
.description .heading a {
  color: #000;
  text-decoration: underline;
}
.description .desc {
  padding: 30px 0;
  margin: 14px 0;
  display: block;
  font-weight: 500;
  line-height: 1.4em;
  font-size: 1.6rem;
}
.description .desc span:last-child {
  font-weight: 400;
}
.description .desc a {
  color: #000;
  font-style: italic;
  text-decoration: underline;
}
.description .desc2 {
  padding: 10px 0;
  margin: 14px 0;
  display: block;
  font-weight: 400;
  line-height: 1.4em;
  font-size: 1.6rem;
}
.description .desc2 strong {
  font-weight: 700;
}
.description .desc2 a {
  color: #000;
  text-decoration: underline;
  font-weight: 450;
}
/* address-location */
.address-location {
  display: flex;
  margin: 24px 0 50px;
}
.address-location .title {
  font-size: 1.6rem;
  font-weight: 600;
}
.address-location .title span {
  display: inline-block;
  padding: 0 0 6px 0;
}
.address-location .location {
  margin-top: 20px;
  font-style: italic;
  font-weight: 350;
}
.address-location .time {
  margin-top: 20px;
  font-weight: 350;
}
.address-location .time span:first-child {
  font-weight: 550;
}
.address-location .time span {
  display: inline-block;
  padding: 0 0 6px 0;
}

.address-location .time-delivery {
  margin-top: 40px;
  font-weight: 350;
}
.address-location .address-2 {
  padding-left: 160px;
}
/* footer */
.footer {
  background: #000000;
}
.footer .content-footer {
  width: 1315px;
}
.footer .row-top {
  display: flex;
  padding: 50px 113px 15px 110px;
  border-bottom: 1px solid #ccc;
}
.footer .row-top .footer-news-social-container {
  display: flex;
  align-items: center;
  margin-left: 600px;
}

.footer .newsletter-input {
  border: 1px solid #ffffff;
  background: #000;
  padding: 10px 100px 10px 4px;
}
.footer .newsletter-submit {
  border: 1px solid #ffffff;
  background: #ffffff;
  padding: 10px;
  color: #000000;
  font-weight: 550;
}
.footer .newsletter-submit:hover {
  cursor: pointer;
  color: #fff;
  background: #000;
}
.footer .row-top .icon {
  width: 24px;
  height: 24px;
}
.footer .row-top .icon:first-child {
  background: #fff;
  padding: 1px;
  border-radius: 20%;
}
.footer .row-top .icon:last-child {
  background: #fff;
  padding: 1px;
  border-radius: 30%;
}
.footer .social {
  padding: 0 24px;
}
.footer .social .icon {
  margin-left: 11px;
}

.footer .social .icon:nth-child(2) {
  background: #fff;
  padding: 1px;
  border-radius: 50%;
}
.footer-main {
  height: 405px;
  border-bottom: 1px solid #ccc;
}
/* footer-nav */
.footer-nav {
  padding: 0px 50px 50px 110px;
  display: flex;
  justify-content: space-between;
}
.footer-nav .desc,
.title {
  color: #fff;
  line-height: 1.5;
}

.footer-nav .title {
  padding-bottom: 24px;
  font-size: 1.2rem;
  font-weight: 500;
}
.footer-nav .desc strong {
  font-weight: 600;
  font-size: 2rem;
}
.footer-nav .desc {
  font-weight: 300;
  font-size: 1.5rem;
}
.footer-nav .assitance a,
.resources a {
  color: #fff;
  line-height: 1.78;
  font-size: 1.5rem;
  font-weight: 300;
}
.footer-nav .production-hubs {
  height: 403px;
  width: 25%;
  border-right: 1px solid #ccc;
}
.footer-nav .wrap {
  padding-top: 50px;
}
.footer-nav .delivery-hours {
  width: 25%;
  border-right: 1px solid #ccc;
}
.footer-nav .assitance {
  width: 25%;
  border-right: 1px solid #ccc;
}
.footer .cpyright {
  color: #fff;
  text-align: center;
  padding: 33px;
}
.footer .cpyright span:first-child {
  font-size: 1.1rem;
}
.footer .cpyright span:last-child {
  font-size: 1rem;

  color: #333;
}
