* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
/* ======================common============= */
a {
  text-decoration: none;
}
.main-content {
  max-width: calc(100% - 48px);
  width: 1085px;
  margin-left: auto;
  margin-right: auto;
}

/* delivery */
.delivery {
  padding: 4px 0;
  background: #141414;
  height: 35px;
}

.delivery .body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery .body span {
  color: #fff;
  font-size: 1.2rem;
  /* font-family: Messina Sans Semi Bold; */
  font-weight: 500;
}

.delivery .enter-code {
  font-size: 1rem;
  flex-grow: 1;
  margin: 0 5px 0px 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #fff;
  color: #333;
  max-width: 430px;

  padding: 6px 5px;
}

.delivery .body button {
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  padding: 5px 12px;
  font-family: Roboto;
  font-weight: 400;
  background-color: #fff;
}

.delivery .icon-close {
  display: block;
  margin: -27px 10px 0 auto;
  opacity: 0.7;
}

.event .desc {
  font-size: 1.4rem;
  font-family: Heldane;
  display: block;
  color: #141414;
  background-color: #f1c5b7;
  text-align: center;
  height: 50px;
  font-weight: 400;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* header fixed */
.header {
  height: 164px;
  background: #ffffff;
}

.header .row-top {
  padding-top: 55px;
  display: flex;
  align-items: center;
}
.header .row-top .icons {
  display: flex;
}
.notification-badge {
  position: relative;
}
.notification-badge:hover {
  opacity: 0.8;
}
.notification-badge .badge {
  background-color: #fdbec6;
  text-align: center;
  border-radius: 50%;
  padding: 1.5px 2px 3px 4px;
  height: 14px;
  width: 14px;
  position: absolute;
  top: -8px;
  right: -10px;
  transform: translate(-50%);
}

.header .row-top-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header .row-top-right span {
  font-size: 1.2rem;
  font-weight: 400;
  padding-right: 10px;
  font-family: Heldane;
}
.header .row-top-right .icon:first-child {
  padding-right: 6px;
}
.header .row-top-right .icon:last-child {
  margin-left: 8px;
}
/*================================== Header main==================== */
.header .header-main .list {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .list > li {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
}

.sub-menu .sub-menu {
  left: 100%;
  top: 0px;
  display: none;
  width: 140px;
  height: 100%;
}
.sub-menu .sub-menu-businesses {
  height: 220px;
}
.header .list li:hover > .sub-menu {
  display: block;
}
.sub-menu {
  position: absolute;
  background: #fff;
  top: 36px;
  width: 140px;
  display: none;
}
.sub-menu li:hover {
  background: #fae4e4;
}
.sub-menu a {
  font-family: Heldane;
  display: block;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  color: #000000;
  font-weight: 400;
  margin-top: 8px;
  padding: 12px 6px;
}
.header .header-main a.item {
  position: relative;
  display: block;
  font-size: 1.15rem;
  letter-spacing: 0.8px;
  color: #000;
  font-weight: 550;
  padding: 8px;
}
.header .header-main a.item:hover {
  opacity: 1 !important;
  text-decoration: underline 2px solid #f1c5b7;
  text-underline-offset: 4px;
}
.header .header-main a.item::after {
  display: block;
  width: 4px;
  height: 4px;
  border: 0;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  border-bottom: 0.5px solid currentColor;
  border-left: 0.5px solid currentColor;
  position: absolute;
  top: 37%;
  right: -2px;
  content: "";
}

/* .header.fixed {
  position: sticky;
  top: 0px;
  z-index: 1;
} */

/*========================CONTACT US============================ */
.contact {
  padding-bottom: 50px;
  display: flex;
  height: 555px;
  background-color: #efe6e0;
}
.contact .heading {
  padding: 186px 0 0 200px;
  width: 60%;
  font-size: 5rem;
  font-weight: 500;
}
.contact .image {
  height: 555px;
  width: 40%;
  object-fit: cover;
}
/* description  */
.description {
  padding: 30px 0;
  margin-bottom: 60px;
}
.description .heading-2 {
  font-family: Heldane;
  margin: 17px 0;
  display: block;
  font-weight: 400;
  line-height: 1.4em;
  font-size: 1.6rem;
}
.description .heading a {
  color: #000;
  text-decoration: underline;
}
.description .desc {
  padding: 30px 0;
  margin: 14px 0;
  display: block;
  font-weight: 600;
  line-height: 1.4em;
  font-size: 1.6rem;
  font-family: Heldane;
}
.description .desc span:last-child {
  font-weight: 400;
}
.description .desc a {
  color: #000;
  font-style: italic;
  text-decoration: underline;
}
.description .desc2 {
  padding: 10px 0;
  margin: 14px 0;
  display: block;
  font-weight: 400;
  line-height: 1.4em;
  font-size: 1.6rem;
  font-family: Heldane;
}
.description .desc2 strong {
  font-size: 1.7rem;
  font-weight: 700;
}
.description .desc2 a {
  color: #000;
  text-decoration: underline;
  font-weight: 450;
}
/* address-location */
.address-location {
  display: flex;
  margin: 24px 0 50px;
}
.address-location .title {
  font-family: Arial;
  color: #000;
  font-size: 1.6rem;
  font-weight: 550;
}
.address-location .title span {
  display: inline-block;
  padding: 0 0 6px 0;
}
.address-location .location {
  margin-top: 20px;
  font-style: italic;
  font-weight: 350;
  font-family: Heldane;
}
.address-location .time {
  margin-top: 20px;
  font-weight: 350;
  font-family: Heldane;
}
.address-location .time span:first-child {
  font-weight: 550;
}
.address-location .time span {
  display: inline-block;
  padding: 0 0 6px 0;
}

.address-location .time-delivery {
  margin-top: 40px;
  font-weight: 350;
  font-family: Heldane;
}
.address-location .address-2 {
  padding-left: 300px;
}
/* footer */
.footer {
  background: #000000;
}
.footer .content-footer {
  width: 1315px;
}
.footer .row-top {
  display: flex;
  padding: 50px 113px 15px 110px;
  border-bottom: 1px solid #ccc;
}
.footer .row-top .footer-news-social-container {
  display: flex;
  align-items: center;
  margin-left: 500px;
}

.footer .newsletter-input {
  border: 1px solid #ffffff;
  background: #000;
  padding: 14px 160px 14px 4px;
}
.footer .newsletter-submit {
  border: 1px solid #ffffff;
  background: #ffffff;
  padding: 16px 40px;
  color: #000000;
  font-weight: 550;
  text-align: center;
  font-size: 1.1rem;
}
.footer .newsletter-submit:hover {
  cursor: pointer;
  color: #fff;
  background: #000;
}
.footer .row-top .icon {
  width: 24px;
  height: 24px;
}
.footer .row-top .icon:first-child {
  background: #fff;
  padding: 1px;
  border-radius: 10%;
}
.footer .row-top .icon:last-child {
  background: #fff;
  border-radius: 30%;
}

.footer .social .icon {
  margin-left: 11px;
}

.footer .social .icon:nth-child(2) {
  background: #fff;
  padding: 1px;
  border-radius: 50%;
}
.footer-main {
  height: 405px;
  border-bottom: 1px solid #ccc;
}
/* footer-nav */
.footer-nav {
  padding: 0px 50px 50px 110px;
  display: flex;
  justify-content: space-between;
}
.footer-nav .desc,
.title {
  color: #fff;
  line-height: 1.5;
}

.footer-nav .title {
  padding-bottom: 5px;
  font-size: 1.3rem;
  font-weight: 500;
}
.footer-nav .desc strong {
  font-weight: 600;
  font-size: 2rem;
}
.footer-nav .desc {
  font-weight: 300;
  font-size: 1.6rem;
  font-family: Heldane;
}
.footer-nav .assitance a,
.resources a {
  color: #fff;
  line-height: 1.78;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: Heldane;
}
.footer-nav .production-hubs {
  height: 403px;
  width: 25%;
  border-right: 1px solid #ccc;
}
.footer-nav .wrap {
  padding-top: 50px;
}
.footer-nav .delivery-hours {
  width: 25%;
  border-right: 1px solid #ccc;
}
.footer-nav .assitance {
  width: 25%;
  border-right: 1px solid #ccc;
}
.footer .cpyright {
  color: #fff;
  text-align: center;
  padding: 33px;
}
.footer .cpyright span:first-child {
  font-size: 1.1rem;
}
.footer .cpyright span:last-child {
  font-size: 1rem;

  color: #333;
}
